<!--ブランドページ　MV-->
	
		<div class="container mv">
			<h2 class="brand-title">CAESARSTONE</h2>
			<div id="theTarget1">
				<div style="background-image: url(img_product/img_caesarstone/mv01.jpg)"></div>
				<div style="background-image: url(img_product/img_caesarstone//mv02.jpg)"></div>
				<div style="background-image: url(img_product/img_caesarstone//mv03.jpg)"></div>
				<div style="background-image: url(img_product/img_caesarstone//mv04.jpg)"></div>
			</div>
			<div><p class="brand-description"> 1987年に設立されたシーザーストーンは、天然石の美しさはそのままに、石の弱さやもろさを取り除くため 最も強い石の一つであるクォーツ（水晶）を活用し、世界初のクオーツエンジニアドストーンを開発したパイオニアカンパニーです。美しさと耐久性を兼ねそろえた、世界中のデザイナーの厳しいニーズにこたえるソリューションです</p>
			</div>
		</div>
		<div class="sp-mv">
			<div id="theTarget2">
				<div style="background-image: url(img_product/img_caesarstone//sp_mv01.jpg)"></div>
				<div style="background-image: url(img_product/img_caesarstone//sp_mv02.jpg)"></div>
				<div style="background-image: url(img_product/img_caesarstone//sp_mv03.jpg)"></div>
				<div style="background-image: url(img/sp_mv04.jpg)"></div>
			</div>
		</div>
	<main class="brand container">
		<section>
			<h2 class="brand-title">COLLECTION</h2>
				<!-- classico nuvo -->
				<div class="cs-collection">
					<div class="caesarstone"><%= image_tag 'img_caesarstone/classico_nuvo.jpg' %></div>
					<p class="cs-text">大理石のダイナミズム。力強くスケールのある石目が特徴のハイエンドシリーズです。</p>
					<div class="cs-flex">
						<div class="cs-flex-item">
							<a href="<%= asset_path "img_caesarstone/5131.jpg" %>" data-lightbox="image-2" class='cs-flex-img'> 
							<%= image_tag 'img_caesarstone/5131.jpg', class:'cs-flex-img', alt:'5131 Calacatta Nuvo' %>
							</a>
							<p>5111 Statuario Nuvo</p>
						</div>
						<div class="cs-flex-item">
							<a href="<%= asset_path "img_caesarstone/5111_l.jpg" %>" data-lightbox="image-2" class='cs-flex-img'> 
							<%= image_tag 'img_caesarstone/5111.jpg', class:'cs-flex-img', alt:'5131 Calacatta Nuvo' %>
							</a>
							<p>5111 Statuario Nuvo</p>
						</div>
					</div>
				</div>
				<!-- classico5000 -->
				<div class="cs-collection">
					<div class="caesarstone"><%= image_tag 'img_caesarstone/classico_5000.jpg' %></div>
					<p class="cs-text">世界で最も美しい大理石の持つ、ナチュラルで洗練された表情を忠実に表現したシリーズです。</p>
					<div class="cs-flex">
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/5130.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>5130 Cosmopolitan White</p>
						</div>
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/5141.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>5141 Frosty Carrina</p>
						</div>
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/5100.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>5000 London Grey</p>
						</div>
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/5134.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>5134 Urban Safari</p>
						</div>
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/5133.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>5133 Symphony Grey</p>
						</div>
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/5003.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>5003 Pietra Gray</p>
						</div>
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/5100.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>5100 Vanilla Noir</p>
						</div>
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/5380.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>5380 Emperadoro</p>
						</div>
					</div>
				</div>
				<!-- classico6000 -->
				<div class="cs-collection">
					<div class="caesarstone"><%= image_tag 'img_caesarstone/classico_6000.jpg', alt:"シーザーストーン" %></div>
					<p class="cs-text">美しい石の持つ柄を表現したシリーズ。大胆な色柄が楽しめるシリーズです。</p>
					<div class="cs-flex">
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/6131.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>6131 Bianco Drift</p>
						</div>
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/6003.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>6003 Coastal Grey</p>
						</div>
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/6338.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>6338 Woodlans</p>
						</div>
					</div>
				</div>
				<!-- classico standard -->
				<div class="cs-collection">
					<div class="caesarstone"><%= image_tag 'img_caesarstone/classico_standard.jpg', alt:"シーザーストーン" %></div>
					<p class="cs-text">素朴な色調と繊細でランダムな縞を合わせ持つコレクション。一番汎用製のあるシリーズです。</p>
					<div class="cs-flex">
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/2141.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>2141 Snow</p>
						</div>
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/4600.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>4600 Organic White</p>
						</div>
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/4141.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>4141 Ice Cap</p>
						</div>
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/4001.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>4001FreshConcreteMatt</p>
						</div>
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/6600.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>6600 Nougat</p>
						</div>
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/4255.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>4255 Creme Brule</p>
						</div>
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/4220.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>4220 Butter Milk</p>
						</div>
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/4230.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>4230 Shitake</p>
						</div>
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/4330.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>4330 Ginger</p>
						</div>
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/4350.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>4350 Mink</p>
						</div>
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/4260.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>4260 Cocoa Fudge</p>
						</div>
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/4120.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>4120 Raven</p>
						</div>
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/3100.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>3100 Jet Black</p>
						</div>
					</div>
				</div>
				<!-- concetto -->
				<div class="cs-collection">
					<div class="caesarstone"><%= image_tag 'img_caesarstone/concetto.jpg', alt:"シーザーストーン" %></div>
					<p class="cs-text">半貴石である、クォーツやメノウを一つ一つ丁寧にカットし造り上げた斬新なコレクションです。</p>
					<div class="cs-flex">
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/8141.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>8141 White Quartz</p>
						</div>
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/8310.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>8310 Brown Agate</p>
						</div>
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/8311.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>8311 Grey Agate</p>
						</div>
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/8531.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>8531 Blue Agate</p>
						</div>
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/8540.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>8540 Durmortierite</p>
						</div>
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/8551.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>8551 Amethyst</p>
						</div>
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/8630.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>8630 Red Tigre Eye</p>
						</div>
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/8616.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>8616 Blue Tigre Eye</p>
						</div>
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/8330.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>8330 Petrified Wood</p>
						</div>
						<div class="cs-flex-item">
							<%= image_tag 'img_caesarstone/8331.jpg', class:"cs-flex-img", alt:"シーザーストーン" %>
							<p>8331 PetrifiedWoodClassic</p>
						</div>
					</div>
				</div>

		</section>
		
		<!--サブコンテンツ　ニュース-->
		<section class="clearfix sub-content">
			<h2 class="main-title">NEWS</h2>
			<div class="main-content">
				<a href="#"><%= image_tag 'img_top/top_news01.jpg' %></a>
				2016.10.04　KOHLERのショールームにシーザーストーンが採用されました。
			</div>
			<div class="main-content">
				<a href="#"><%= image_tag 'img_top/top_news01.jpg' %></a>
				2016.10.04　KOHLERのショールームにシーザーストーンが採用されました。
			</div>
			<div class="main-content">
				<a href="#"><%= image_tag 'img_top/top_news01.jpg' %></a>
				2016.10.04　KOHLERのショールームにシーザーストーンが採用されました。
			</div>
		</section>
		<!--SP用　サブコンテンツ-->
		<section class="sp-sub-content">
				<div class="flex-container">
				<div class="flex-item">
					<h2>NEWS</h2>
					<a href="#"><%= image_tag 'img_top/top_news01.jpg' ,class:'flex-item-img', alt:'コンフォートニュース' %></a>
				</div>
				<div class="flex-item">
					<h2>SHOWROOM</h2>
					<a href="#"><%= image_tag 'img_top/top_news01.jpg' ,class:'flex-item-img', alt:'コンフォートニュース' %></a>
				</div>
				<div class="flex-item">
					<h2>WORKS</h2>
					<a href="#"><%= image_tag 'img_top/top_news01.jpg' ,class:'flex-item-img', alt:'コンフォートニュース' %></a>
				</div>
			</div>
		</section>
	</main>