<!-- スライダーイメージ -->
	<div class="mv">
		<div id="theTarget1">
			<div style="background-image: url(img_top/mv01.jpg)"></div>
			<div style="background-image: url(img_top/mv02.jpg)"></div>
			<div style="background-image: url(img_top/mv03.jpg)"></div>
			<div style="background-image: url(img_top/mv04.jpg)"></div> 
		</div>
	</div>
	<div class="sp-mv">
		<div id="theTarget2">
			<div style="background-image: url(img_top/sp_mv01.jpg)"></div>
			<div style="background-image: url(img_top/sp_mv02.jpg)"></div>
			<div style="background-image: url(img_top/sp_mv03.jpg)"></div>
			<div style="background-image: url(img_top/sp_mv04.jpg)"></div>
		</div>
	</div>

<!--メインコンテンツ　ブランド-->
	<main class="main container">
		<section class="clearfix">
			<h2 class="main-title">BRAND</h2>
			<div class="main-content">
				<a href="#"><%= image_tag 'img_top/top_caesarstone.jpg' %></a>
			</div>
			<div class="main-content">
				<a href="#"><%= image_tag 'img_top/top_lualdi.jpg' %></a>
			</div>
			<div class="main-content">
				<a href="#"><%= image_tag 'img_top/top_colombo.jpg' %></a>
			</div>
			<div class="main-content">
				<a href="#"><%= image_tag 'img_top/top_raiki.jpg' %></a>
			</div>
			<div class="main-content">
				<a href="#"><%= image_tag 'img_top/top_chdoor.jpg' %></a>
			</div>
			<div class="main-content">
				<a href="#"><%= image_tag 'img_top/top_shinjyu.jpg' %></a>
			</div>
			<div class="main-content">
				<a href="#"><%= image_tag 'img_top/top_grob.jpg' %></a>
			</div>
		</section>
		<!--サブコンテンツ　ワークス-->
		<section class="clearfix sub-content">
			<h2 class="main-title">WORKS</h2>
			<div class="main-content">
				<a href="#"><%= image_tag 'img_top/top_works01.jpg' %></a>
			</div>
			<div class="main-content">
				<a href="#"><%= image_tag 'img_top/top_works02.jpg' %></a>
			</div>
			<div class="main-content">
				<a href="#"><%= image_tag 'img_top/top_works03.jpg' %></a>
			</div>
		</section>
		<!--サブコンテンツ　ショールーム-->
		<section class="clearfix sub-content">
			<h2 class="main-title">SHOWROOM</h2>
			<div class="main-content">
				<a href="#"><%= image_tag 'img_top/top_showroom_ch.jpg' %></a>
			</div>
			<div class="main-content">
				<a href="#"><%= image_tag 'img_top/top_showroom.jpg' %></a>
			</div>
			<div class="main-content">
				<a href="#"><%= image_tag 'img_top/top_showroom_lb.jpg' %></a>
			</div>
		</section>
		<!--サブコンテンツ　ニュース-->
		<section class="clearfix sub-content">
			<h2 class="main-title">NEWS</h2>
			<div class="main-content">
				<a href="#"><%= image_tag 'img_top/top_news01.jpg' %></a>
				2016.10.04　KOHLERのショールームにシーザーストーンが採用されました。
			</div>
			<div class="main-content">
				<a href="#"><%= image_tag 'img_top/top_news01.jpg' %></a>
				2016.10.04　KOHLERのショールームにシーザーストーンが採用されました。
			</div>
			<div class="main-content">
				<a href="#"><%= image_tag 'img_top/top_news01.jpg' %></a>
				2016.10.04　KOHLERのショールームにシーザーストーンが採用されました。
			</div>
		</section>
		<!--SP用　サブコンテンツ-->
		<section class="sp-sub-content">
				<div class="flex-container">
				<div class="flex-item">
					<h2>NEWS</h2>
					<a href="#"><%= image_tag 'img_top/top_news01.jpg' ,class:'flex-item-img', alt:'コンフォートニュース' %></a>
				</div>
				<div class="flex-item">
					<h2>SHOWROOM</h2>
					<a href="#"><%= image_tag 'img_top/top_news01.jpg' ,class:'flex-item-img', alt:'コンフォートニュース' %></a>
				</div>
				<div class="flex-item">
					<h2>WORKS</h2>
					<a href="#"><%= image_tag 'img_top/top_news01.jpg' ,class:'flex-item-img', alt:'コンフォートニュース' %></a>
				</div>
			</div>
		</section>
	</main>