<h1>お問い合わせがありました</h1>

<p><%= @greeting %></p>
<p>名前：<%= @name %></p>
<p>会社名：<%= @company %></p>
<p>email：<%= @email %></p>
<p>tel：<%= @tel %></p>
<p>お知らせ希望：<%= @require %></p>
<p>希望しない：<%= @norequire %></p>
<p>お問い合わせ内容：<%= @message %></p>